name: "plumber"

x-backend-common: &backend-common
    image: docker.io/getplumber/backend:${BACKEND_IMAGE_TAG}
    env_file: .env
    environment:
      - JOBS_LISTEN_ADDR=0.0.0.0
      - JOBS_LISTEN_PORT=80
      - JOBS_CORS_ORIGIN=https://${DOMAIN_NAME}
      - JOBS_FRONTEND_URL=https://${DOMAIN_NAME}
      - JOBS_SESSION_TTL=168h
      - JOBS_DB_HOST=${JOBS_DB_HOST:-postgres}
      - JOBS_DB_PORT=${JOBS_DB_PORT:-5432}
      - JOBS_DB_USER=${JOBS_DB_USER:-jobs}
      - JOBS_DB_NAME=${JOBS_DB_NAME:-jobs}
      - JOBS_DB_SSLMODE=${JOBS_DB_SSLMODE:-disable}
      - JOBS_DB_TIMEZONE=${JOBS_DB_TIMEZONE:-Europe/Paris}
      - JOBS_API_DOMAIN=https://${DOMAIN_NAME}/api
      - LOG_LEVEL=info
      - LOG_FORMATTER=text
      - JOBS_REDIS_HOST=redis
      - JOBS_REDIS_PORT=6379
      - JOBS_REDIS_DB=0
      - JOBS_REDIS_USER=default
      - JOBS_REDIS_SET_NAMESPACES_TTL=30s
      - GITLEAKS_PATH=/opt/gitleaks
      - FRONTEND_DOMAIN=${DOMAIN_NAME}
      - API_DOMAIN=${DOMAIN_NAME}
      - API_PATH=/api
      - API_URL=${DOMAIN_NAME}/api
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
        required: false
      redis:
        condition: service_healthy
    volumes:
      - ./.docker/ca-certificates:/usr/local/share/ca-certificates/
    networks:
      - intranet

services:

  ############
  # Plumber #
  ############

  frontend:
    image: docker.io/getplumber/frontend:${FRONTEND_IMAGE_TAG}
    env_file: .env
    environment:
      - FRONTEND_DOMAIN=${DOMAIN_NAME}
      - API_DOMAIN=${DOMAIN_NAME}
      - API_PATH=/api
      - API_URL=${DOMAIN_NAME}/api
    restart: unless-stopped
    volumes:
      - ./.docker/ca-certificates:/usr/local/share/ca-certificates/
    expose:
      - "3000"
    labels:
      - "traefik.http.routers.front.rule=Host(`${DOMAIN_NAME}`)"
      - "traefik.http.routers.front.entrypoints=websecure"
      - "traefik.http.routers.front.tls=true"
      - "traefik.http.routers.front.tls.certresolver=${CERT_RESOLVER:-}"
    networks:
      - intranet

  backend:
    <<: *backend-common
    expose:
      - "80"
      - "9090"
    labels:
      - "traefik.http.routers.api.rule=Host(`${DOMAIN_NAME}`)&&PathPrefix(`/api`)"
      - "traefik.http.routers.api.entrypoints=websecure"
      - "traefik.http.routers.api.tls=true"
      - "traefik.http.routers.api.tls.certresolver=${CERT_RESOLVER:-}"

  worker:
    <<: *backend-common
    command: ["--worker"]
    deploy:
      mode: replicated
      replicas: 5
    expose:
      - "9090"
    labels:
      - "traefik.enable=false"


  #####################
  # External services #
  #####################

  redis:
    image: redis:8.4
    pull_policy: always
    restart: unless-stopped
    env_file:
      - .env
    command:
      - redis-server
      - --requirepass ${JOBS_REDIS_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a \"$$JOBS_REDIS_PASSWORD\" ping"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 5s
    expose:
      - "6379"
    labels:
      - "traefik.enable=false"
    networks:
      - intranet

  postgres:
    profiles: ["internal-db"]
    image: postgres:18
    pull_policy: always
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql
    env_file: .env
    environment:
      - POSTGRES_USER=${JOBS_DB_USER:-jobs}
      - POSTGRES_PASSWORD=${JOBS_DB_PASSWORD}
      - POSTGRES_DB=${JOBS_DB_NAME:-jobs}
      - PGDATA=/var/lib/postgresql/18/data
    labels:
      - "traefik.enable=false"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB -h 127.0.0.1 -p 5432"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 10s
    expose:
      - "5432"
    networks:
      - intranet

  #################
  # Reverse proxy #
  #################

  traefik-le:
    profiles: ["letsencrypt"]
    image: traefik:3.6
    pull_policy: always
    restart: unless-stopped
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
      - "443:443"
    command:
      - --log.level=DEBUG
      - --accesslog=true
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.web.http.redirections.entrypoint.permanent=true
      - --entrypoints.websecure.address=:443
      - --providers.docker=true
      - --certificatesresolvers.le.acme.caserver=https://acme-v02.api.letsencrypt.org/directory
      - --certificatesresolvers.le.acme.storage=/acme/acme.json
      - --certificatesresolvers.le.acme.tlschallenge=true
    labels:
      - "traefik.enable=false"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - traefik-acme:/acme
    networks:
      - intranet

  traefik-custom-certs:
    profiles: ["custom-certs"]
    image: traefik:3.6
    pull_policy: always
    restart: unless-stopped
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
      - "443:443"
    command:
      - --log.level=DEBUG
      - --accesslog=true
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.web.http.redirections.entrypoint.permanent=true
      - --entrypoints.websecure.address=:443
      - --providers.docker=true
      - --providers.file.filename=/etc/traefik/certs.yml
    labels:
      - "traefik.enable=false"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.docker/traefik/certs:/certs
      - ./.docker/traefik/certs.yml:/etc/traefik/certs.yml
    networks:
      - intranet

networks:
  intranet:

volumes:
  postgres-data:
  traefik-acme:
