name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: 3.10.1
      - name: Add dependency chart repositories
        run: ./scripts/add_helm_repo.sh
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.8.1
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_RELEASE_NAME_TEMPLATE: "v{{ .Version }}"
      - name: Add CNAME to gh-pages
        run: |
          if git show-ref --verify --quiet refs/remotes/origin/gh-pages; then
            git checkout gh-pages
            if [ ! -f CNAME ]; then
              echo "charts.getplumber.io" > CNAME
              git add CNAME
              git commit -m "Add CNAME for custom domain"
              git push origin gh-pages
            fi
          fi
